## IPP Assignment 1

### GRADE (Name)

**Problem** | *Correctness (5)* | *Clarity (2.5)* | *Efficiency (2.5)*| COMMENT
---|---|---|---|---
**1** | 5/5 | 2.5/2.5 | 2.5/2.5|You could've used other basic markdown (please refer to the answer sheet). Great introduction! Thanks!
**2.1** | 5 | 2.5 | 2.5|
**2.2** | 5 | 2.5 | 2.5|
**2.3** | 5 | 2.5 | 2.5|
**3** | 5 | 2.5 | (Extra point - 2.5) 2.5|Extra point for dictionary q. Please present your code during the next session. Great!
**TOTAL SCORE** | **52.5/50**

A Jupyter notebook, a Python interface, mainly consists of two types of cells: Markdown and Code cells. A Code cell is a block of contents that contain snippets of code written in Python Programming Language. A markdown cell is a block of contents that contain text and sometimes image.

As you progress, you may realize the importance of markdown cells while programming with python language. Markdown cells allow you to keep track of what you've done in the Code cells by displaying titles or a brief summary of tasks in a text format (You can add headings, emphasis (bold or italic text), mathematical symbols, bullets and horizontal lines etc). This assignment is meant to guide you to become familiar with markdown language.

### Problem 1. Using markdown language, write an introduction of yourself. You can use multiple markdown cells to create a neat introduction of yourself.

#### Hi, my name is Pulkit. I am a fun person 92.25% of my awake time, rest 8.65% I spend it on the football field. I am a wannabe arithmetician and an abstract stand up comedian.

### Problem 2

For problem 2, use the following list (called i) & dictionary (called d)
* Note that i is a list which contains 9 elements.
* Note that d is a dictionary which has 9 keys and values.

In [1]:
i=['I','N','S','E','A','D','P','H','D']
d={}
for count, value in enumerate(i):
    d[count]=value
    
print(i)
print(d)

['I', 'N', 'S', 'E', 'A', 'D', 'P', 'H', 'D']
{0: 'I', 1: 'N', 2: 'S', 3: 'E', 4: 'A', 5: 'D', 6: 'P', 7: 'H', 8: 'D'}

#### Problem 2.1 Write a for loop that prints the first six elements of the list (i), using both 'IF' and 'BREAK' statments within the loop.

In [2]:
# Write a for loop that produces the following output in this cell.

##############################################################################################
count = 0
for j in i:
    print(j)
    count = count +1
    if count == 6:
        break

    
    

##############################################################################################

I
N
S
E
A
D

#### Problem 2.2 Write a for loop that prints all the elements except 'D' in the list (i) using if and continue statement within the loop.

In [3]:
# Write a for loop that produces the following output in this cell.
##############################################################################################
for j in i:    
    if j == "D":
        continue
    print(j)

##############################################################################################

I
N
S
E
A
P
H

#### Problem 2.3 Create an empty list called l. Write a for loop that adds only odd dictionary keys of d in l (l is the emply list that you've created). Then prints l.

In [4]:
# Write a for loop that produces the following output in this cell.
# Start with creating a list called l
l=[]
##############################################################################################
for j in d:
    if j%2 != 0:
        l.append(j)
##############################################################################################
print(l)

[1, 3, 5, 7]

### Problem 3

For problem 3, use the following two lists, students and departments respectively

In [5]:
students=["MKT:Sherrie",
          "OB:Jennifer",
          "TOM:Priscilla",
          "STR:Nety",
          "STR:Tienchang",
          "ENT:Pulkit",
          "FIN:Meghana",
          "STR:Constantin",
          "ENT:Junghyo",
          "MKT:Sherrie",
          "OB:Jennifer"]

departments=["MKT","OB","TOM","STR","ENT","FIN"]

In [6]:
students

['MKT:Sherrie',
 'OB:Jennifer',
 'TOM:Priscilla',
 'STR:Nety',
 'STR:Tienchang',
 'ENT:Pulkit',
 'FIN:Meghana',
 'STR:Constantin',
 'ENT:Junghyo',
 'MKT:Sherrie',
 'OB:Jennifer']

#### Problem 3. Create an empty dictionary called d. Write a for loop that adds each department in departments (given list) as keys and the list of students in that department as values.

In [7]:
# Write a for loop that produces the following output in this cell, using the given lists (students & departments)
# Start with creating a dictonary called d
d = {}

##############################################################################################
for key in departments:
    for value in students:
        if key[0] == value[0]:
            x = [value[len(key)+1:] for value in students if key[0] == value[0]]
            d[key] = list(set(x))  #used set to remove duplicate values, and used typecasting to get the output in list

q = {key: list(set([value[len(key)+1:] for value in students if value.startswith(key)])) for key in departments}

# ^ more robust way as 'key[0] == value[0]]' only worked since no two departments have same first letter
##############################################################################################
d

{'MKT': ['Sherrie'],
 'OB': ['Jennifer'],
 'TOM': ['Priscilla'],
 'STR': ['Constantin', 'Nety', 'Tienchang'],
 'ENT': ['Junghyo', 'Pulkit'],
 'FIN': ['Meghana']}

In [16]:
for key in departments:
    for value in students:
        if key[0] == value[0]:
            x = [value[len(key)+1:] for value in students if key[0]==value[0]] # select sub string based on its index
            # you can simply 
            print(set(x))

{'Sherrie'}
{'Sherrie'}
{'Jennifer'}
{'Jennifer'}
{'Priscilla'}
{'Constantin', 'Nety', 'Tienchang'}
{'Constantin', 'Nety', 'Tienchang'}
{'Constantin', 'Nety', 'Tienchang'}
{'Junghyo', 'Pulkit'}
{'Junghyo', 'Pulkit'}
{'Meghana'}

In [14]:
q = {key: list(set([value[len(key)+1:] for value in students if value.startswith(key)])) for key in departments}

In [15]:
q

{'MKT': ['Sherrie'],
 'OB': ['Jennifer'],
 'TOM': ['Priscilla'],
 'STR': ['Constantin', 'Nety', 'Tienchang'],
 'ENT': ['Junghyo', 'Pulkit'],
 'FIN': ['Meghana']}

In [12]:
# Write a for loop that produces the following output in this cell, using the given lists (students & departments)
# Start with creating a dictonary called d
d = {}

##############################################################################################
for key in departments:
    for value in students:
        if key[0] == value[0]:
            x = [value[len(key)+1:] for value in students if key[0] == value[0]]
            d[key] = list(set(x))  #used set to remove duplicate values, and used typecasting to get the output in list

q = {key: list(set([value[len(key)+1:] for value in students if value.startswith(key)])) for key in departments}

# ^ more robust way as 'key[0] == value[0]]' only worked since no two departments have same first letter
##############################################################################################
d

{'MKT': ['Sherrie'],
 'OB': ['Jennifer'],
 'TOM': ['Priscilla'],
 'STR': ['Nety', 'Constantin', 'Tienchang'],
 'ENT': ['Pulkit', 'Junghyo'],
 'FIN': ['Meghana']}